body {
    background-image: linear-gradient(90deg, #ff512f, #dd2476);
    font-family: verdana;
    height: 100%;

}

div.fitness-tracker-title {

    -moz-animation: fadein 3s;      /* Firefox < 16 */
    -webkit-animation: fadein 3s;   /* Safari, Chrome and Opera > 12.1 */
    -o-animation: fadein 3s;        /* Opera < 12.1 */
}


div.select-option {
    border: 12px solid white;
    border-radius: 25px;
    padding: 30px;
    width: 20%;
    height: 20%;

    margin-top: 30px;
    margin-left: 6%;
    position: relative;

    cursor: pointer;
    overflow: visible;

}

div.cycling {
    float: left;

    -moz-animation: fadein 3.5s;      /* Firefox < 16 */
    -webkit-animation: fadein 3.5s;   /* Safari, Chrome and Opera > 12.1 */
    -o-animation: fadein 3.5s;        /* Opera < 12.1 */

}

div.swimming {
    float: left;

    -moz-animation: fadein 4s;      /* Firefox < 16 */
    -webkit-animation: fadein 4s;   /* Safari, Chrome and Opera > 12.1 */
    -o-animation: fadein 4s;        /* Opera < 12.1 */

}

div.lifting {

    float: left;

    -moz-animation: fadein 4.5s;      /* Firefox < 16 */
    -webkit-animation: fadein 4.5s;   /* Safari, Chrome and Opera > 12.1 */
    -o-animation: fadein 4.5s;        /* Opera < 12.1 */


}


img.fitness-tracker-large-logo {
    width: 50%;
    height: 50%;
    filter: brightness(0) invert(1);

}

img.option {
    filter: brightness(0) invert(1);
}

img.swimming-image {
    width: 100%;
    height: 100%;
}

img.lifting-image {
    width: 100%;
    height: 100%;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}