<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>

    <!-- Default Home Page CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fitness.css') }}">

    <div class="top-bar">
        <div class="fitness-tracker-title" align="center">
            <img class="fitness-tracker-small-logo" src="/static/img/fitness_tracker_logo.png">
        </div>

        <div class="calendar">
            <img class="calendar-icon" src="/static/img/Feather-core-calendar.svg">

            <div class="week-text">
                <b>Day 1, Week 1</b>
            </div>

            <div class="day-text">
                <b>Wednesday, 1st January 2020</b>
            </div>

            <div class="left-arrow small-icon">
                <img id="left-arrow-icon" src="/static/img/left-arrow.svg">
            </div>

            <div class="right-arrow small-icon">
                <img id="right-arrow-icon" src="/static/img/right-arrow.svg">
            </div>

            <div class="notifications small-icon">
                <img id="notifications-icon" src="/static/img/notifications-icon.svg">
            </div>

            <div class="settings small-icon">
                <img id="settings-icon" src="/static/img/settings.svg">
            </div>

        </div>
    </div>

    <div class="main-container">



    </div>
</head>
<body>

</body>
</html>