<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>

    <!-- Default Home Page CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fitness.css') }}">

    <div class="top-bar">
        <div class="fitness-tracker-title" align="center">
            <img class="fitness-tracker-small-logo" src="/static/img/fitness_tracker_logo.png">
        </div>
    </div>

    <div class="main-container">



    </div>
</head>
<body>

</body>
</html>