<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.4z">
    <title>Fitness Tracker - Home</title>

    <!-- Default Home Page CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fitness.css') }}">

</head>
<body>

    <div class="top-bar">
        <div class="fitness-tracker-title" align="center">
            <img class="fitness-tracker-small-logo" src="/static/img/fitness_tracker_logo.png">
        </div>

        <div class="calendar">
            <img class="calendar-icon" src="/static/img/Feather-core-calendar.svg">

            <div class="week-text">
                Day {{ date_settings.0 }}, Week {{ date_settings.1 }}
            </div>

            <div class="day-text">
                {{ date_settings.2 }}, {{ date_settings.3 }} {{ date_settings.4 }} {{ date_settings.5 }}
            </div>

        </div>

        <div class="notifications-group">
            <div class="notifications small-icon">
                <img id="notifications-icon" src="/static/img/notifications-icon.svg">
            </div>

            <div class="settings small-icon">
                <img id="settings-icon" src="/static/img/settings.svg">
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="fitness">
            <div class="fitness-title">
                Lifting
            </div>

            <div class="lifting-container">
                <div class="squat lift-container" align="center">
                    <img class="squat lift-image" src="/static/img/Wide_stance_squat_with_barbell_1.svg">
                    <div class="lift-text">
                        Squat
                    </div>

                </div>

                <div class="bench lift-container" align="center">
                    <img class="bench lift-image" src="/static/img/Bench_press_2.svg">
                    <div class="lift-text">
                        Bench Press
                    </div>
                </div>

                <div class="deadlift lift-container" align="center">
                    <img class="deadlift lift-image" src="/static/img/Barbell_dead_lifts_1.svg">
                    <div class="lift-text">
                        Deadlift
                    </div>
                </div>

                <div class="overhead-press lift-container" align="center">
                    <img class="overhead-press lift-image" src="/static/img/Barbell_shoulder_press_1.svg">
                    <div class="lift-text">
                        Overhead Press
                    </div>
                </div>

                <div class="overhead-press other-container" align="center">
                    <a class="other-container-link" href="/lifting">
                        <img class="journal other-image" src="/static/img/journal.svg">
                        <div class="other-text">
                            Workout Log
                        </div>
                    </a>
                </div>

                <div class="overhead-press other-container" align="center">
                    <a class="other-container-link" href="/achievements">
                        <img class="journal other-image" src="/static/img/achievements.svg">
                        <div class="other-text">
                            Achievements
                        </div>
                    </a>
                </div>

                <div class="overhead-press other-container" align="center">
                    <a class="other-container-link" href="/lifting">
                    <img class="journal other-image" src="/static/img/statistics_large_icon.svg">

                    <div class="other-text">
                        Statistics
                    </div>

                    </a>
                </div>

                <div class="overhead-press other-container" align="center">
                    <a class="other-container-link" href="/goals">
                        <img class="journal other-image" src="/static/img/target-svgrepo-com.svg">

                        <div class="other-text">
                            Targets
                        </div>
                    </a>
                </div>


            </div>
        </div>


        <div class="side-bar">
            <div class="user-edit" align="right">
                <a href="/profile">EDIT</a>
            </div>

            <div class="user">
                <img id="user-icon" src="/static/img/Antu_system-switch-user.svg">
            </div>

            <div id="username">
                {{ details.0.0 }} {{ details.0.1 }}

                <div id="user-age">
                    {{ details.0.2 }}, {{ details.0.3 }} Years Old
                </div>
            </div>

            <div class="user-details">
                <div id="user-height">
                    <b>HEIGHT</b>
                </div>

                <div id="user-weight">
                    <b>WEIGHT</b>
                </div>

                <div id="height-number">
                    {{ details.0.4 }}cm
                </div>

                <div id="weight-number">
                    {{ details.0.5 }}lbs
                </div>
            </div>

        <div class="navigation-bar">
            <div class="nav-home menu-btn">
                <img class="home-icon menu-icon" src="/static/img/home.svg">
                <a href="/">Home</a>
            </div>

            <div class="nav-goals menu-btn">
                <img class="goals-icon menu-icon" src="/static/img/target.svg">
                <a href="/goals">My Goals</a>
            </div>

            <div class="nav-schedule menu-btn">
                <img class="schedule-icon menu-icon" src="/static/img/Feather-core-calendar.svg">
                <a href="/schedule">Schedule</a>
            </div>

            <div class="nav-achievements menu-btn">
                <img class="achievements-icon menu-icon" src="/static/img/trophy.svg">
                <a href="/achievements">Achievements</a>
            </div>

            <div class="nav-statistics menu-btn">
                <img class="statistics-icon menu-icon" src="/static/img/statistics.svg">
                <a href="/statistics">Statistics</a>
            </div>
        </div>

        </div>

    </div>

</body>
</html>