<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitness Tracker - Edit Profile</title>

    <!-- Default Home Page CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fitness.css') }}">

</head>
<body>

    <div class="top-bar">
        <div class="fitness-tracker-title" align="center">
            <img class="fitness-tracker-small-logo" src="/static/img/fitness_tracker_logo.png">
        </div>

        <div class="calendar">
            <img class="calendar-icon" src="/static/img/Feather-core-calendar.svg">

            <div class="week-text">
                Day 1, Week 2
            </div>

            <div class="day-text">
                Wednesday, 8th January 2020
            </div>

            <div class="left-arrow small-icon">
                <img id="left-arrow-icon" src="/static/img/left-arrow.svg">
            </div>

            <div class="right-arrow small-icon">
                <img id="right-arrow-icon" src="/static/img/right-arrow.svg">
            </div>

            <div class="notifications small-icon">
                <img id="notifications-icon" src="/static/img/notifications-icon.svg">
            </div>

            <div class="settings small-icon">
                <img id="settings-icon" src="/static/img/settings.svg">
            </div>

        </div>
    </div>

    <div class="main-container">
        <div class="fitness">
            <div class="fitness-title">
                Edit Profile
            </div>

            <div class="current-profile">

                <div class="current-profile-picture">
                    <img class="current-user-image" src="/static/img/Antu_system-switch-user.svg">
                </div>

            </div>

            <div class="update-profile-picture">
                <button type="button" class="button upload-picture">UPLOAD NEW PICTURE</button>
            </div>

            <div class="edit-profile-left">
                <div class="update-firstname setting">

                    <img class="edit-text" src="/static/img/edit.svg">

                    <div class="form-title">
                        FIRST NAME
                    </div>

                    <div class="first-name form-info">
                        James
                    </div>

                </div>

                <div class="update-height setting">

                    <img class="edit-text" src="/static/img/edit.svg">

                    <div class="form-title">
                        HEIGHT
                    </div>

                    <div class="height form-info">
                        170cm
                    </div>
                </div>
            </div>


            <div class="edit-profile-right">
                <div class="update-lastname setting">

                    <img class="edit-text" src="/static/img/edit.svg">

                    <div class="form-title">
                        LAST NAME
                    </div>

                    <div class="last-name form-info">
                        Grimes
                    </div>

                </div>

                <div class="updated-weight setting">

                    <img class="edit-text" src="/static/img/edit.svg">

                    <div class="form-title">
                        CURRENT WEIGHT
                    </div>

                    <div class="weight form-info">
                        190lbs
                    </div>
                </div>
            </div>


            <!--
            <div class="lifting-container">
                <div class="squat lift-container" align="center">
                    <img class="squat lift-image" src="/static/img/Wide_stance_squat_with_barbell_1.svg">
                    <div class="lift-text">
                        Squat
                    </div>

                </div>

                <div class="bench lift-container" align="center">
                    <img class="bench lift-image" src="/static/img/Bench_press_2.svg">
                    <div class="lift-text">
                        Bench
                    </div>
                </div>

                <div class="deadlift lift-container" align="center">
                    <img class="deadlift lift-image" src="/static/img/Barbell_dead_lifts_1.svg">
                    <div class="lift-text">
                        Deadlift
                    </div>
                </div>

                <div class="overhead-press lift-container" align="center">
                    <img class="overhead-press lift-image" src="/static/img/Barbell_shoulder_press_1.svg">
                    <div class="lift-text">
                        Overhead Press
                    </div>
                </div>

                <div class="overhead-press other-container" align="center">
                    <img class="journal other-image" src="/static/img/journal.svg">
                    <div class="other-text">
                        Workout Log
                    </div>
                </div>

                <div class="overhead-press other-container" align="center">
                    <img class="journal other-image" src="/static/img/achievements.svg">
                    <div class="other-text">
                        Achievements
                    </div>
                </div>

                <div class="overhead-press other-container" align="center">
                    <img class="journal other-image" src="/static/img/statistics_large_icon.svg">
                    <div class="other-text">
                        Statistics
                    </div>
                </div>

                <div class="overhead-press other-container" align="center">
                    <img class="journal other-image" src="/static/img/target-svgrepo-com.svg">
                    <div class="other-text">
                        Targets
                    </div>
                </div>


            </div> -->
        </div>


        <div class="side-bar">
            <div class="user-edit" align="right">
                <a href="/profile">EDIT</a>
            </div>

            <div class="user">
                <img id="user-icon" src="/static/img/Antu_system-switch-user.svg">
            </div>

            <div id="username">
                {{ details.0.0 }} {{ details.0.1 }}

                <div id="user-age">
                    {{ details.0.2 }}, {{ details.0.3 }} Years Old
                </div>
            </div>

            <div class="user-details">
                <div id="user-height">
                    HEIGHT
                </div>

                <div id="user-weight">
                    WEIGHT
                </div>

                <div id="height-number">
                    {{ details.0.4 }}cm
                </div>

                <div id="weight-number">
                    {{ details.0.5 }}lbs
                </div>
            </div>

        <div class="navigation-bar">
            <div class="nav-home menu-btn">
                <img class="home-icon menu-icon" src="/static/img/home.svg">
                <a href="/fitness">Home</a>
            </div>

            <div class="nav-goals menu-btn">
                <img class="goals-icon menu-icon" src="/static/img/target.svg">
                My Goals
            </div>

            <div class="nav-schedule menu-btn">
                <img class="schedule-icon menu-icon" src="/static/img/Feather-core-calendar.svg">
                <a href="/schedule">Schedule</a>
            </div>

            <div class="nav-achievements menu-btn">
                <img class="achievements-icon menu-icon" src="/static/img/trophy.svg">
                Achievements
            </div>

            <div class="nav-statistics menu-btn">
                <img class="statistics-icon menu-icon" src="/static/img/statistics.svg">
                Statistics
            </div>

            <div class="nav-settings menu-btn">
                <img class="settings-icon menu-icon" src="/static/img/settings.svg">
                Settings
            </div>
        </div>

        </div>

    </div>

</body>
</html>